<!DOCTYPE html>
<html>
<head>
    <title>REST API Project</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/db.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Items</h1>
    <ul id="items-list"></ul>
    <input type="text" id="item-name" placeholder="Enter item name">
    <button id="add-button">Add Item</button>
</body>
</html>
